assets/
docs/

node_modules/
.venv/

.DS_Store

dist/
demo/dist/
packages/icons/src/generated/
packages/icons/src/components/
playground/src/generated/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.vite/

.env
config.yaml

!playground/docs/
!playground/docs/architecture/

presets/